/* colors */
$primary: #222; // primary color
$secondary: #ccc; // secondary color
// $linkh: #06689f; // hover menu
/* pie for mixins */
$pie: url(js/PIE.htc);

// tags backgrounds
$tag1: #b1bca6;
$tag2: #9eace2;
$tag3: #afadce;
$tag4: #bed7db;
$tag5: #a9c6cc;
$tag-colori1: #b1bca6, #9eace2, #afadce, #bed7db, #a9c6cc;
$repeat: 10;
$tag-color: #c4c4c4;
